openapi: "3.0.3"
info:
  title: "kiber.uz REST API Documentation"
  version: "0.2"
servers:
  - url: "https://kiber.uz/api"
paths:
  /catalog/bank/list:
    get:
      tags:
        - Catalog
      parameters:
        - name: lang
          in: query
          required: false
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Bank"
  /catalog/bank/{id}:
    get:
      tags:
        - Catalog
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: lang
          in: query
          required: false
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bank"
  /catalog/measure/list:
    get:
      tags:
        - Catalog
      parameters:
        - name: lang
          in: query
          required: false
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Measure"
  /catalog/measure/{id}:
    get:
      tags:
        - Catalog
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: lang
          in: query
          required: false
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Measure"
  /catalog/country/list:
    get:
      tags:
        - Catalog
      parameters:
        - name: lang
          in: query
          required: false
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Country"
  /catalog/country/{id}:
    get:
      tags:
        - Catalog
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: lang
          in: query
          required: false
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Country"
  /catalog/region/list:
    get:
      tags:
        - Catalog
      parameters:
        - name: lang
          in: query
          required: false
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Region"
  /catalog/region/{id}:
    get:
      tags:
        - Catalog
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: lang
          in: query
          required: false
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Region"


components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Bank:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Measure:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Country:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Region:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
